<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Sanca</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css'>
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Montserrat|Roboto+Slab:300'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/flickity/2.0.5/flickity.min.css'>
	<link rel="stylesheet" href="./style_04.css">
	<link rel="stylesheet" href="./style_4.1.css">
	<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/TweenMax.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/parallax/3.1.0/parallax.min.js"></script>
</head>
<body>
<!-- partial:index.partial.html -->
<div class="header">
    <div class="logo">
      <a href="index.html" class="logo">
				<img src="images/Logo.png" alt="">
			</a>
    </div>
    <div class="menus text-right">
      <span class="toggleBtn">
        <i class="fa fa-bars"></i>
        <i class="fa fa-times hiddenDiv"></i>
      </span>
      <div class="myMenu hideMenu">
        <ul class="mainUl">
          <li>
            <a href="index.html" class="ddMenu">Home</a>
          </li>
          <li>
            <a href="Home_03.html" class="ddMenu">Gallery</a>
            
          </li>
          <li>
            <a href="Home_04.1.html" class="active ddMenu">Acount</a>
          </li>
          <li>
            <a href="Home_05.html" class="ddMenu">Cart</a>
          </li>
		  <li>
            <a href="#" class="ddMenu">App</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
<div class="hero-slider" data-carousel>
	<!-- part01 -->
  <div class="carousel-cell" style="">
      <div class="accout" style="">
		  
	  		
	  		<div class="container">
            <div class="row">
				       <div class="col-md-6 ">

<div class="panel panel-default">
  <div class="panel-heading">  <h4 >User Profile</h4></div>
   <div class="panel-body">
       
    <div class="box box-info">
        
            <div class="box-body">
                     <div class="col-sm-6">
                     <div  align="center"> <img alt="User Pic" src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg" id="profile-image1" class="img-circle img-responsive"> 
                
                <input id="profile-image-upload" class="hidden" type="file">
<div style="color:#999;" >click here to change profile image</div>
                <!--Upload Image Js And Css-->
                     </div>
              <br>
                <!-- /input-group -->
            </div>
            <div class="col-sm-6">
            <h4 style="color:#00b1b1;">To Dinh Thanh Tuyen </h4></span>
              <span><p>Designer</p></span>            
            </div>
            <div class="clearfix"></div>
            <hr style="margin:5px 0 5px 0;">
    
              
<div class="col-sm-5 col-xs-6 title " >First Name:</div><div class="col-sm-7 col-xs-6 ">Tuyen</div>
     <div class="clearfix"></div>
<div class="bot-border"></div>

<div class="col-sm-5 col-xs-6 title " >Middle Name:</div><div class="col-sm-7"> Thanh Tuyen</div>
  <div class="clearfix"></div>
<div class="bot-border"></div>

<div class="col-sm-5 col-xs-6 title " >Last Name:</div><div class="col-sm-7"> To</div>
  <div class="clearfix"></div>
<div class="bot-border"></div>

<div class="col-sm-5 col-xs-6 title " >Date Of Joining:</div><div class="col-sm-7">15 Jun 2020</div>

  <div class="clearfix"></div>
<div class="bot-border"></div>

<div class="col-sm-5 col-xs-6 title " >Date Of Birth:</div><div class="col-sm-7">29 Sep 1999</div>

  <div class="clearfix"></div>
<div class="bot-border"></div>

<div class="col-sm-5 col-xs-6 title " >City:</div><div class="col-sm-7">Ho Chi Minh</div>

 <div class="clearfix"></div>
<div class="bot-border"></div>

<div class="col-sm-5 col-xs-6 title " >Email:</div><div class="col-sm-7">tuyenvippro123@gmail.com</div>
      

 <div class="clearfix"></div>
<div class="bot-border"></div>
      <div class="col-sm-5 col-xs-6 title " >Nationality:</div><div class="col-sm-7">Vietnam</div>
      

 <div class="clearfix"></div>
<div class="bot-border"></div>

<div class="col-sm-5 col-xs-6 title " >Gender:</div><div class="col-sm-7">Male</div>


            <!-- /.box-body -->
          </div>
          <!-- /.box -->

        </div>
       
            
    </div> 
    </div>
</div>  
                <div class="col-xs-6">
                    <form>
                        <fieldset>
                            <legend>Update Information:</legend>
                            <div class="form-group row">
                                <div class="col-md-4">
                                    <label for="firstName">First Name </label>
                                    <input type="text" class="form-control" id="firstName" placeholder="Please enter first name">
                                </div>
                                <div class="col-md-4">
                                    <label for="firstName">Middle Name </label>
                                    <input type="text" class="form-control" id="firstName" placeholder="Please enter middle name">
                                </div>
                                <div class="col-md-4">
                                    <label for="firstName">Last Name </label>
                                    <input type="text" class="form-control" id="firstName" placeholder="Please enter last name">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-6">
                                    <label for="firstName">Age </label>
                                    <input type="text" class="form-control" id="firstName" placeholder="Please enter age">
                                </div>
                                <div class="col-md-6">
                                    <label for="firstName">Sex </label>
                                    <input type="text" class="form-control" id="firstName" placeholder="Please enter sex">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="firstName">Address1 </label>
                                <textarea class="form-control" id="firstName" placeholder="Please enter address1"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="firstName">Address2 </label>
                                <textarea class="form-control" id="firstName" placeholder="Please enter address2"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="firstName">Country </label>
                                <input type="text" class="form-control" id="firstName" placeholder="Please enter country">
                            </div>
                            <div class="form-group row">
                                <div class="col-md-6">
                                    <label for="firstName">State </label>
                                    <input type="text" class="form-control" id="firstName" placeholder="Please enter state">
                                </div>
                                <div class="col-md-6">
                                    <label for="firstName">City </label>
                                    <input type="text" class="form-control" id="firstName" placeholder="Please enter city">
                                </div>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox">
                                    Is Active
                                </label>
                            </div>
                            <button type="submit" class="btn btn-default">Submit</button>
                        </fieldset>
                    </form>
                </div>
            </div>
      </div>
	  </div>
  </div>
	
	
	<div class="carousel-cell" style="">
		
		
		
		<div class='app' ng-app='wallet-app' ng-cloak='true'>
  <div class='app_inner'>
    <aside>
      <div class='wallet'>
        <div class='holder' ng-controller='walletController'>
          <div class='card' ng-click='index(card.id)' ng-repeat='card in cards | orderBy:"id":true'>
            <div class='card_number'>
              <p>{{card.cardNumber}}</p>
            </div>
            <div class='card_holder'>
              <p>{{card.cardHolder}}</p>
              <p>{{card.expiryDate}}</p>
            </div>
            <div class='card_icon'>
              <img src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/217538/{{card.type}}.png'>
            </div>
          </div>
        </div>
        <div class='add_a_card'>
          <i class='fa fa-plus'></i>
          <p>Add a card</p>
        </div>
      </div>
    </aside>
    <main>
      <div class='list' ng-controller='walletController'>
        <ul ng-repeat='card in cards' ng-show='card.id == cardIndex'>
          <div class='card'>
            <div class='card_number'>
              <p>{{card.cardNumber}}</p>
            </div>
            <div class='card_holder'>
              <p>{{card.cardHolder}}</p>
              <p>{{card.expiryDate}}</p>
            </div>
            <div class='card_icon'>
              <img src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/217538/{{card.type}}.png'>
            </div>
          </div>
          <div class='transactions'>
            <table>
              <thead>
                <th>
                  Date
                </th>
                <th>
                  Merchant
                </th>
                <th>
                  Spend
                </th>
              </thead>
              <tr ng-repeat='transaction in card.transactions'>
                <td>
                  {{transaction.date}}
                </td>
                <td>
                  {{transaction.merchant}}
                </td>
                <td>
                  {{transaction.price | currency:"£"}}
                </td>
              </tr>
            </table>
          </div>
        </ul>
      </div>
      <div class='create'>
        <form ng-controller='addCardController as card'>
          <i class='fa fa-times-circle'></i>
          <input class='number' ng-model='number' placeholder='Enter card number' type='text'>
          <input class='name' ng-model='name' placeholder='Enter your name' type='text'>
          <input class='expiry' ng-model='expiry' placeholder='MM / YY' type='text'>
          <div class='choose_a_card' ng-controller='addCardController'>
            <img ng-click='choose("mastercard-curved-64px")' src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/217538/mastercard-curved-64px.png'>
            <img ng-click='choose("discover-curved-64px")' src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/217538/discover-curved-64px.png'>
            <img class='selected' ng-click='choose("visa-curved-64px")' src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/217538/visa-curved-64px.png'>
            <div class='card'>
              <div class='card_number'>
                <p>{{number}}</p>
              </div>
              <div class='card_holder'>
                <p>{{name}}</p>
                <p>{{expiry}}</p>
              </div>
              <div class='card_icon'>
                <img src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/217538/{{choice}}.png'>
              </div>
            </div>
            <input ng-click='addCard(number, name, expiry)' type='submit' value='Add card'>
          </div>
        </form>
      </div>
    </main>
  </div>
</div>
		
		
		
	</div>
	
</div>

<div class="footer">
    <div class="social-wrapper">
      <ul>
        <li>
			<a href="https://twitter.com/" title="Follow us on Twitter" target="_blank">
				<i class="fa fa-twitter"></i>
                <p class="hidden-lg-up">Twitter</p>
			</a>
		</li>
        <li>
			<a href="https://www.facebook.com/" title="Follow us on Facbook" target="_blank">
				<i class="fa fa-facebook-square"></i>
                <p class="hidden-lg-up">Facebook</p>
			</a>
		</li>
		<li>
			<a href="https://www.instagram.com/" title="Follow us on Instagram" target="_blank">
				<i class="fa fa-instagram"></i>
                <p class="hidden-lg-up">Instagram</p>
			</a>
		</li>
      </ul>
    </div>
</div>
	
<!-- partial -->
	<script src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular.min.js'></script>
  <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script><script  src="./script_01.js"></script>
	
  <script src='https://cdnjs.cloudflare.com/ajax/libs/flickity/2.0.5/flickity.pkgd.min.js'></script><script  src="./script.js"></script>
  
	<script  src="./script_4.1.js"></script>
	
	
	
  <script>
    
	

    TweenMax.from(".logo", 1, {
      opacity: 0,
      x: -20,
      ease: Expo.easeInOut
    })

	TweenMax.from(".social-wrapper", 1, {
      opacity: 0,
      x: -20,
      ease: Expo.easeInOut
    })  
	  
    TweenMax.staggerFrom(".myMenu .mainUl li", 1, {
      opacity: 0,
      x: -20,
      ease: Power3.easeInOut
    }, 0.08)

    TweenMax.from(".search", 1, {
      delay: .5,
      opacity: 0,
      x: -20,
      ease: Expo.easeInOut
    })

    TweenMax.from(".account", 1, {
      delay: .6,
      opacity: 0,
      x: -20,
      ease: Expo.easeInOut
    })

    TweenMax.from(".cart", 1, {
      delay: .7,
      opacity: 0,
      x: -20,
      ease: Expo.easeInOut
    })

    TweenMax.from(".container", 1, {
      delay: 0.5,
      opacity: 0,
      y: -800,
      ease: Expo.easeInOut
    })

    TweenMax.from(".leaves .layer:nth-child(1)", 2, {
      delay: 2,
      opacity: 0,
      y: -800,
      ease: Expo.easeInOut
    })

    TweenMax.from(".leaves .layer:nth-child(2)", 2, {
      delay: 2.1,
      opacity: 0,
      y: -800,
      ease: Expo.easeInOut
    })

    TweenMax.from(".leaves .layer:nth-child(3)", 2, {
      delay: 2.2,
      opacity: 0,
      y: -800,
      ease: Expo.easeInOut
    })

    TweenMax.from(".leaves .layer:nth-child(4)", 2, {
      delay: 2.3,
      opacity: 0,
      y: -800,
      ease: Expo.easeInOut
    })

    TweenMax.from(".leaves .layer:nth-child(5)", 2, {
      delay: 2.5,
      opacity: 0,
      y: -800,
      ease: Expo.easeInOut
    })

    TweenMax.from(".title", 1, {
      delay: 1,
      opacity: 0,
      y: 20,
      ease: Expo.easeInOut
    })

    TweenMax.from(".tagline", 1, {
      delay: 1.3,
      opacity: 0,
      y: 20,
      ease: Expo.easeInOut
    })

    TweenMax.from(".pages", 1, {
      delay: 1.3,
      opacity: 0,
      y: 20,
      ease: Expo.easeInOut
    })

    TweenMax.from(".more", 1, {
      delay: 1.4,
      opacity: 0,
      y: 20,
      ease: Expo.easeInOut
    })

    TweenMax.from(".desc", 1, {
      delay: 1.4,
      opacity: 0,
      y: 20,
      ease: Expo.easeInOut
    })

    TweenMax.from(".arrows", 1, {
      delay: 2,
      opacity: 0,
      ease: Expo.easeInOut
    })

  </script>
</body>
</html>
