/* Inspired by this pen by Pieter Biesemans https://codepen.io/pieter-biesemans/pen/BQBWXX and My Mother Before Me project http://mymotherbeforeme.com/ */

body {
 
  background-image: url(images/Background_Gallery.png);
  color: #FFFFFF;
}
* {
  box-sizing: border-box;
}

/* hide scrollbar */
::-webkit-scrollbar {
  width: 1px;
  height: 1px;
}

::-webkit-scrollbar-button {
  width: 1px;
  height: 1px;
}
.external {
  overflow: hidden;
  height: 100vh;
}

.horizontal-scroll-wrapper {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: center;
          align-items: center;
  width: 100vh;
  -webkit-transform: rotate(-90deg) translate3d(0,-100vh,0);
          transform: rotate(-90deg) translate3d(0,-100vh,0);
  -webkit-transform-origin: right top;
          transform-origin: right top;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0;
  height: 100vw;
  -webkit-perspective: 1px;
          perspective: 1px;
	-webkit-transform-style: preserve-3d;
	        transform-style: preserve-3d;
  padding-bottom: 10rem;
}
.img-wrapper {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  min-height: 40vh;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transform: rotate(90deg) translateZ(.1px) scale(0.9) translateX(0px) translateY(-3vh);
          transform: rotate(90deg) translateZ(.1px) scale(0.9) translateX(0px) translateY(-3vh);
  -webkit-transition: 1s;
  transition: 1s;
}

.img-wrapper:hover {
 min-height: 65vh;
}

.slower {
  -webkit-transform: rotate(90deg) translateZ(-.2px) scale(1.1) translateX(0%) translateY(-10vh);
          transform: rotate(90deg) translateZ(-.2px) scale(1.1) translateX(0%) translateY(-10vh);
}
.slower1 {
  -webkit-transform: rotate(90deg) translateZ(-.25px) scale(1.05) translateX(0%) translateY(8vh);
          transform: rotate(90deg) translateZ(-.25px) scale(1.05) translateX(0%) translateY(8vh);
}
.slower2 {
  -webkit-transform: rotate(90deg) translateZ(-.3px) scale(1.3) translateX(0%) translateY(2vh);
          transform: rotate(90deg) translateZ(-.3px) scale(1.3) translateX(0%) translateY(2vh);
}
.slower-down {
  -webkit-transform: rotate(90deg) translateZ(-.2px) scale(1.1) translateX(0%) translateY(16vh) ;
          transform: rotate(90deg) translateZ(-.2px) scale(1.1) translateX(0%) translateY(16vh) ;
}
.faster {
  -webkit-transform: rotate(90deg) translateZ(.15px) scale(0.8) translateX(0%) translateY(14vh) ;
          transform: rotate(90deg) translateZ(.15px) scale(0.8) translateX(0%) translateY(14vh) ;
}
.faster1 {
  -webkit-transform: rotate(90deg) translateZ(.05px) scale(0.8) translateX(0%) translateY(10vh) ;
          transform: rotate(90deg) translateZ(.05px) scale(0.8) translateX(0%) translateY(10vh) ;
}
.fastest {
  -webkit-transform: rotate(90deg) translateZ(.22px) scale(0.7) translateX(-10vh) translateY(-15vh) ;
          transform: rotate(90deg) translateZ(.22px) scale(0.7) translateX(-10vh) translateY(-15vh) ;
}
.vertical {
   -webkit-transform: rotate(90deg) translateZ(-.15px) scale(1.15) translateX(0%) translateY(0%) ;
           transform: rotate(90deg) translateZ(-.15px) scale(1.15) translateX(0%) translateY(0%) ;
}
.last {
  -webkit-transform: rotate(90deg) translateZ(-.2px) scale(1.1) translateX(25vh) translateY(-8vh) ;
          transform: rotate(90deg) translateZ(-.2px) scale(1.1) translateX(25vh) translateY(-8vh) ;
}
.scroll-info, header {
  position: absolute;
  left: 1rem;
}


header {
  bottom: 1rem;
}
.scroll-info {
  top: 10rem;
  left: 290px;
}
a {
  color: inherit;
  font-weight: 600;
  
}
h1 {
  font-weight: 300;
  font-size: 1rem;
}

.img-wrapper a {
  overflow: hidden;
  display: block;
  padding: 1vh ;
  background: #ef3f57;
  box-shadow: ;
}
img {
  max-width: 45vh;
  max-height: 50vh;
  -webkit-transition: .5s;
  transition: .5s;
  vertical-align: top;
  -webkit-filter: saturate(40%) sepia(30%) hue-rotate(5deg);
          filter: saturate(40%) sepia(30%) hue-rotate(5deg);
}
a:hover img {
  -webkit-filter: none;
          filter: none;
}
p {
  margin: 0;
}
.scroll-info {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
}
.icon svg {
    width: 50px;
    fill: currentcolor;
}

.info {
  color: white;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
  font-size: 40px;
	text-align: center
}